<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ProductManager</title>
</head>
<body>
  <h1>Product Manager</h1>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <form method="POST">
      <input type="text" name="name" placeholder="Назва" required>
      <input type="number" name="price" placeholder="Ціна" required>
      <input type="text" name="category" placeholder="Категорія" required>

      <button type="submit">Додати</button>
  </form>

  <!--
  select - випадаючий список
  option - пункт списку

  value - значення, яке отримає сервер
  selected - обраний пункт зі списку по замовчуванню
  -->

  <form method="GET">
    <select name="category">
      <option value="all" {% if choice_category=='all' %} selected {% endif %}>All</option>

      {% for row in categories %}
        <option value="{{ row.category }}" {% if choice_category==row.category %} selected {% endif %} >
          {{ row.category.title() }}
        </option>
      {% endfor %}
    </select>

    <button type="submit">Застосувати</button>
  </form>

  <h3>Товари:</h3>

  <table border="1px" cellpadding="5px">
      <thead>
          <tr>
              <td>Name</td>
              <td>Price</td>
              <td>Category</td>
              <td>Action</td>
          </tr>
      </thead>
      <tbody>
        {% for item in products %}
          <tr>
            <td>{{ item['name'] }}</td>
            <td>{{ item['price'] }}</td>
            <td>{{ item['category'] }}</td>
            <td>

              <!-- loop.index - повертає порядковий номер ітерації (повторення) -->
              <a href="{{ url_for('delete', index=loop.index0) }}">
                <button type="submit">Delete</button>
              </a>

            </td>
          </tr>
        {% endfor %}
      </tbody>
  </table>

</body>
</html>